.servicoContainer {
    display: flex;

    width: 100%;
    height: 40.375rem;
    object-fit: cover;

    background: url('../../assets/capa-membros-squad.svg') no-repeat center/100%;
}


.iconArrow {
    padding-top: 4%;
}

.textContainer {
    width: 38.5625rem;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.conentText {
    padding: 2%;
    font-size: 3rem;
    font-family: Pragmatica;
    font-weight: 300;
    line-height: 3.5rem;
    font-style: normal;
}

.conentTextGreen {
    background: linear-gradient(45deg, rgba(2,255,133,1) 0%, rgba(25,255,10,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-decoration: underline;
}

.conentText {
    display: flex;
    flex-direction: column;
}

/*=============================Alocação=============================*/

.alocacaoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: 40.875rem;
    flex-shrink: 0;
    padding-top: 5%;
    gap: 3rem;
    position: relative;
}

.alocacaoContainer img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.textHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;


    color: var(--white);
    font-family: Degular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7725rem;
    text-transform: uppercase;
}

.textLineHeader {
    width: 75%;
    height: 0.25rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FFF 0%, #C8C8C8 50%, #FFF 100%);
}

.contentServico {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.contentDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12.6875rem;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Pragmatica;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contentSubDescription {
    width: 70%;
    color: var(--white);
    font-family: Degular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btnService {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

.btnService button {
    
    height: 4rem;
    width: 20.825rem;
    border-radius: 3.625rem;
    border-radius: 1.125rem;
    border: 1px solid var(--green-400);

    text-align: center;
    font-family: Degular;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0875rem;
    transition: transform .5s;
    cursor: pointer;
}

.btnService button:hover {
    transform: scale(1.1);
}


.btnServiceTranspatent {
    background: linear-gradient(94deg, #02FF85 0%, #19FF0A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.btnServiceGreenGrandient{
    background: linear-gradient(94deg, #02FF85 0%, #19FF0A 100%);
    color: #000;
    
}

.btnArrowGroup {
    display: flex;
    gap: 1rem;
    transition: transform 2s;
}

.btnArrowGroup button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.btnArrowGreenTransparent {
    background: transparent;
    border: 1px solid var(--green-500);
    color: var(--green-500);
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.btnArrowGreen {
    background: var(--green-500);;
    border: 1px solid var(--green-500);
    color: var(--black-100);
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

/*===================================TOPICOS===================================*/

.topicosContainer {
    height: 80.4375rem;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

.topicosRow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5% 0%;
}

.topicosText span {
    color: var(--white);
    text-align: right;
    font-family: Degular;
    font-size: 3.375rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.underLineGreen {
    width: 70.8125rem;
    height: 0.0625rem;
    background: #03FF7F;
}

.squadTopicosImgRight {
    position: absolute;
    right: 0;
    top: -450px;
}

.squadTopicosImgLeft {
    position: absolute;
    left: 0;
    bottom: -220px;
}


/*==============================Diferenciais====================================*/

.diferenciaisContainer {
    height: 60.4375rem;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    background: url('../../assets/capa-diferenciais.svg') no-repeat center/100%;
}
.diferenciaisContainer .headerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diferenciaisContainer .headerGroup span{
    width: 30%;
    color: var(--White);
    font-family: Degular;
    font-size: 4.51563rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.96719rem; /* 110% */
}

.linePurple {
    width: 40.9375rem;
    height: 0.25rem;
    flex-shrink: 0;

    background: url('../../assets/line-purple.svg'), lightgray 0px -327.157px / 100% 10652.613% no-repeat;
}

.cardGroup {
    display: flex;
    justify-content: center;
    align-items: center;


    gap: 3rem;
}

.cardTecnologia {
    width: 15.53381rem;
    height: 18.75rem;

    background-color: transparent;
}

.cardTitle {
    color: var(--White);
    font-family: Degular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardText {
    color: var(--White);
    font-family: Degular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35469rem; /* 135.469% */
}

.cardImg {
    padding-bottom: 20%;
}

.cardImg img {
    transition: transform 0.5s;
    cursor: pointer;
}

.cardImg img:hover {
    transform: scale(1.5);

}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tecnologiasGroup {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 2rem;
}

.tecnologiasGroup span {
    color: var(--White);
    font-family: Degular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.7725rem;
    text-transform: uppercase;
}

.listaTecnologias {
    display: flex;
    gap: 1.5rem;
}

.listaTecnologias img {
    transition: transform 0.5s;
    cursor: pointer;
}


.listaTecnologias img:hover {
    transform: scale(1.5);
}

.btnArrowGroupMobile {
    display: none;
}


@media (max-width: 1024px) {


    .servicoContainer {

        height: 52.6875rem;
        background: url('../../assets/capa-servico-mobile.svg') no-repeat;
        background-size:contain;

    }

    .textContainer {
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 10% 15%;
    }

    .conentText {
        font-size: 2rem;
    }

    .textHeader {
        font-size: 0.75rem;
    }

    .textLineHeader {
        width: 50%;
        height: 0.1rem;
    }

    .btnArrowGroupMobile {
        display: flex;
        width: 100%;
        gap: 3rem;
        justify-content: center;
    }

    .alocacaoContainer {
        flex-direction: column;
        height: 100%;
        background: transparent;
    }

    .alocacaoContainer img {
        display: none;
    }

    .contentServico {
        flex-direction: column;
        gap: 5rem;
    }

    .contentDescription {
        flex-direction: column;
        height: 100%;
        font-size: 2.25rem;
    }
    .contentSubDescription {
        font-size: 1.5rem;
        width: 100%;
        padding: 4% 0%;
        box-sizing: border-box;
    }

    .btnArrowGroup {
        display: none;
    }

    .btnArrowGroup {
        padding: 5% 0%;
        align-items: end;
        justify-content: end;
    }

    .btnService {
        width: 90%;
    }

    .btnService button {
        width: 100%;
    }

    .topicosContainer {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20% 0%;
        gap: 2rem;
        height: 50.4375rem;
    }

    .underLineGreen {
        width: 100%;
    }

    .topicosText span {
        font-size: 3rem;
    }

    .squadTopicosImgLeft {
        top: 60%;
        bottom: 0;
    }

    .squadTopicosImgRight {
        display: none;
    }

    .topicosRow {
        padding: 5% 0% 5% 16%;
        width: 100%;
        box-sizing: border-box;
    }

    .diferenciaisContainer .headerGroup {
        justify-content: flex-start;
    }

    .linePurple {
        width: 50%;
    }

    .diferenciaisContainer {
        height: 100%;

    }

    .diferenciaisContainer .headerGroup span{
        font-size: 2.25rem;
        width: 100%;
        line-height: 2.25rem;
    }

    .cardGroup {
        width: 100%;
        flex-wrap: wrap;
        gap: 10rem;
    }

    .cardImg {
        text-align: center;
    }

    .cardContent {
        text-align: center;
        gap: 2rem;
    }

    .listaTecnologias {
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .tecnologiasGroup {
        padding: 30% 0%;
        align-items: center;
        justify-content: center;
    }

    .listaTecnologias {
        box-sizing: border-box;
        padding: 0% 6%;
    }

    .listaTecnologias img {
        width: 36px;
        height: 36px;
    }
}



@media (min-width: 750px) {
    .servicoContainer {
        background: url('../../assets/capa-membros-squad.svg') no-repeat center/100%;
    }
}