.carreiraContainer {

    display: flex;
    flex-direction: column;

}

.formContainer {
    display: flex;
    gap: 0.5rem;
}

.imgContent {
    width: 36.625rem;
    height: 27.625rem;
}

.textContent {
    color: var(--white);
    font-family: Pragmatica;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4rem; /* 133.333% */
}