.headerContainer{
    width: 100%;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.logo{
    padding: 1rem;
}

.gridContainer{
    display: grid;
    grid-template-columns: 5.5fr 4fr 5fr 14fr 5fr 4fr 5.5fr;
    align-items: center;
    height: 5.25rem;
    position: absolute;
    top: 0;
}

.container{
    display: flex;
}

.navbar ul{
    display: flex;
    gap: 5rem;
}

.navbar li{
        list-style: none;
        border: 3px solid transparent;
        z-index: 1;

        font-family: Degular;
        font-size: 1em;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}

.navbar li:hover {
    width: 3.875rem;
    height: 1.5625rem;
    flex-shrink: 0;
    border-radius: 2.375rem;
    background: #FFF;
    color: #000;
}

.navbar li a:hover {
    color: #000;
}



.button{
    width: 11.25rem;
    height: 2.8125rem;
    border-radius: 3.625rem;
    text-align: center;
    background: linear-gradient(93.74deg, #02FF85 0%, #19FF0A 100%);  
    border: 1px solid #02FF85;
}

.button a{
    text-decoration: none;
    color: #020202;

    font-family: Degular;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}