.headerContainerDesktop{
    width: 100%;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.logo{
    padding: 1rem;
}

.gridContainer{
    display: flex;
    align-items: center;
    height: 5.25rem;
    justify-content: space-between;
}

.container{
    display: flex;
}

.navbar ul{
    display: flex;
    gap: 4rem;
}

.navbar li{
        list-style: none;
        border: 3px solid transparent;
        z-index: 1;
        width: 3.875rem;
        height: 1.5625rem;

        font-family: Degular;
        font-size: 1em;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}

.navbar li:hover {
   
    flex-shrink: 0;
    border-radius: 2.375rem;
    background: #FFF;
    color: #000;
}


.navbar li:focus-visible {
   
    flex-shrink: 0;
    border-radius: 2.375rem;
    background: #FFF;
    color: #000;
}

.navbar li a:hover {
    color: #000;
}



.button{
    width: 11.25rem;
    height: 2.8125rem;
    border-radius: 3.625rem;
    text-align: center;
    background: linear-gradient(93.74deg, #02FF85 0%, #19FF0A 100%);  
    border: 1px solid #02FF85;
}

.button a{
    text-decoration: none;
    color: #020202;

    font-family: Degular;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.containerMobile {
    display: none;
}

.containerLogoDesktop {
    display: flex;
}

.headerContainerMobile {
    display: none;
}

@media (max-width: 1024px) {
   .headerContainerDesktop {
        display: none;
   }

   .headerContainerMobile {
        display: block;
    }
    
    .menu {
        padding: 6% 10%;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .logoMobileContainer {
        position: absolute;
        left: 5%;
        top: 10%;
        padding: 2%;
        z-index: 998;
    }

    .menu .menuLines {
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        top: 10%;
    }


    .menu .menuLines span{
        display: block;
        width: 35px;
        height: 5px;
        margin: 10px;
        background: #CDCDCD;
        border-radius: 3px;
        transition: all ease .2s;
    }

    .menuFakerTrigger {
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }


    .menuFakerTrigger:checked~.menuLines span {
        background-color: #02FF85;
    }

    .menuFakerTrigger:checked~.menuLines span:nth-child(1){
        transform-origin: 0% 0%;
        transform: rotate(45deg) scale(1.25);
    }

    .menuFakerTrigger:checked~.menuLines span:nth-child(2){
        opacity: 0;
    }

    .menuFakerTrigger:checked~.menuLines span:nth-child(3){
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scale(1.25);
    }

    .menu ul {
        position: fixed;
        z-index: 998;
        left: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        padding-top: 20%;
        background: #2A3645;
        margin-left: -70%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .menu .menuFakerTrigger:checked ~ ul {
        margin-left: 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: #F5F5F5;
        font-family: Degular;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.375rem;
    }

    .menu ul li {
        padding: 10px 30px;
    }

    .menu ul li a:hover {
        color: #999;
    }

    .menu ul img {
        margin: 0% 2% 0% 8%;
        box-sizing: border-box;
    }

    .menu .menuLineDivision {
        display: flex;
        justify-content: center;
    }

    .menu .menuLineDivision div {
        width: 80%;
        height: 0.1rem;
        background-color: #334150;
    }


}