#fullFooterDesktop{
    background-color: #000; /*Apenas para ajudar na visualização*/
}

.copyright{
    width: 100%;
    opacity: 75%;
    color: var(--whiteColor);
    padding: 1.5rem 0;
    
    font-family: Degular;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.logo{
    padding: 0 0 1.25rem 9rem;
    width: 16.4375rem;
    height: 4.54181rem;
}

.hr{
    width: 75%;
    border: 2px solid #FFF;
}

.grid{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
}

.lineFooterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineFooter {
    width: 90%;
    height: 0.2rem;
    background: url('../../assets/line-blue-footer.svg'), lightgray 0px -549.266px / 100% 10652.613% no-repeat;
}

.gridpart{
    position: relative;
    top: 0;
    text-wrap: nowrap;    
}

.gridpart ul{
    list-style: none;
    padding: 0;
}

.gridpart li{
    font-family: Degular;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.875em;
    letter-spacing: 0em;
    text-align: left;

    color: #d1d1d1;
    opacity: 75%;
}

.morespace{
    padding: 0 1.5rem;
}

#inputdiv{
    padding-left: 1.5rem;
}

#inputdiv input{
    font-family: Degular;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0em;
    text-align: left;
    
    color: #8D8D8D;
    opacity: 50%;
    background: transparent;
    width: 13.75rem;
    border: none;
    border-bottom: 1px solid #8D8D8D;
    outline: none;
}

.inputGroup {
    width: 100%;
    position: relative;
}

.inputGroup svg {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #02FF85;
}

#lastcolumn{
    padding-left: 0rem;
    padding-right: 1.5rem;
}

#buttons{
    margin-top: 4rem;
}

#buttons button{
    width: 12.0625rem;
    height: 3.375rem;
    color: #03FF7F;
    border: 1px solid #03FF7F;
    border-radius: 12px;
    background-color: black;
}

.title{
    font-size: 1.25em;
    color: #03FF7F;
    margin: 0.5rem 0;

    font-family: Pragmatica;
    font-weight: 700;
    line-height: 2.5em;
    letter-spacing: 0em;
    text-align: left;
}

.textdecoration{
    text-decoration: underline;
    color: #d1d1d1;
}

.fullFooterMobile {
    display: none;
}

.menuGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10% 0%;
    box-sizing: border-box;
}

.midiasIcons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 3rem;
    padding: 4% 0%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    #fullFooterDesktop{
        display: none;
    }

    .fullFooterMobile {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .logoMobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15% 0%;
        box-sizing: border-box;
    }

    .lineFooter {
        width: 100%;
        height: 0.41969rem;
        flex-shrink: 0;

        background: url('../../assets/line-blue-footer.svg'), lightgray 0px -549.266px / 100% 10652.613% no-repeat;
    }

    .menuGroup {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8% 0%;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .optionFooter {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .optionContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }

    .optionTitle span {
        color: #03FF7F;
        text-align: center;
        font-family: Pragmatica;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 250% */
    }

    .optionContent a {
        color: #D1D1D1;
        text-align: center;
        font-family: Degular;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem; /* 250% */
    }

    .btnContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnGreenTransparent {
        width: 50%;
        height: 2.58981rem;
        border-radius: 0.75rem;
        border: 1px solid #03FF7F;
        background: transparent;
        color: #03FF7F;
        text-align: center;
        font-family: Degular;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.09rem;
    }

    .optionContentPoliticas {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }

    .optionContentPoliticas a{
        color: #D1D1D1;
        text-align: center;
        font-family: Degular;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem; /* 250% */
        text-decoration-line: underline;
    }


    .inputGroup {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        position: relative;
    }

    .inputGroup input {
        width: 100%;
        height: 3rem;
        background: transparent;
        border-bottom: 1px solid #8D8D8D !important;
        border: none;
        padding: 0% 5%;
        box-sizing: border-box;

        color: #8D8D8D;
        font-family: Degular;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem; /* 250% */
    }

    .inputGroup svg {
        position: absolute;
        right: 0;
        color: #02FF85;
    }

    .midiasIcons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        flex: 1;
        padding: 2% 10%;
        box-sizing: border-box;
    }

    .copyright {
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
    }

    .copyright span{
        color: #FFF;
        text-align: center;
        font-family: Degular;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem; /* 250% */
    }
}